---
import Layout from '../layout/layout.astro'
---

<Layout title=" - 404">
    <section class="bg-gradient-to-b from-white via-white to-[#029ed1]">
        <div class="container flex items-center h-screen px-6 py-2 mx-auto">
            <div class="flex flex-col items-center mx-auto text-center">
                <h1 class="mt-3 text-4xl font-bold text-gray-800">Pagina no encontrada</h1>
                <p class="mt-4 text-gray-800">La pagina que buscas no esta disponible</p>
            </div>
        </div>
    </section>
</Layout>