---
import Layout from '../layout/layout.astro'
import Jugadores from '../components/jugadores.astro'
import Juveniles from '../components/juveniles.astro'
---

<Layout title=" - Equipo">
    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
            <div class="mt-24 mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Nuestro Equipo Mayor</h2>
            </div> 
            <Jugadores/>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-10 lg:px-6 ">
            <div class="mt-24 mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Nuestro Equipo Juvenil</h2>
            </div> 
            <Juveniles/>
        </div>
      </section>
</Layout>
