---
import Layout from '../layout/layout.astro'
---

<Layout title=" - Historia">
    <section class="mt-32 px-20">
        <p>Parrafo 1</p>
        <p>Parrafo 2</p>
        <p>Parrafo 3</p>
    </section>
</Layout>