---
import Layout from '../layout/layout.astro'
import Art1 from './noticias/20231204.md'
---

<Layout title=" - Noticias">
    <section class="mt-32 px-20">
        <ul>
            <li>
                <a href="./noticias/20231204">1</a>
            </li>
        </ul>
    </section>
</Layout>