---
import Layout from '../layout/layout.astro'
import Productos from '../data/productos.json'
import Product from '../img/producto.webp'
---

<Layout title=" - Tienda">
    <section class="grid justify-center align-middle">
        <p class="mt-32 text-3xl mb-7 px-6">Nuestos Productos</p>
        <div class="grid gap-8 mb-6 grid-cols-2 lg:mb-16 md:grid-cols-4">{Productos.map(maps =>
            <div class="grid grid-cols-1 space-y-0 mb-8">
                <img class="h-24 row-span-3" src={Product.src}/>
                <p class="w-52">Item: {maps.name}</p>
                <p>Precio: {maps.price}</p>
                <button class="rounded text-white bg-[#e0041d] hover:bg-[#68041d] w-20 ml-4">Comprar</button>
            </div>
        )}</div>
    </section>
</Layout>