---

---

<!-- <div class="flex flex-col md:flex-row md:gap-x-0 md:items-center md:last:justify-items-end px-20 mt-32 lg:mt-0"> -->
<div class="w-full h-screen bg-[#FAFFFA]">
    <section class="max-w-[1200px] mx-auto px-8 flex flex-col justify-center h-full text-black">
        <div class="md:grid md:grid-rows-2 grid-flow-col">
            <p class="text-5xl md:text-3xl font-extrabold hyphens-auto md:hyphens-none md:auto-rows-min">El inicio de la pretemporada de Albatros</p>
            <p class="text-base md:text-xl">Se marca el comienzo de una nueva temporada de entrenamientos y preparación física para el equipo. Este periodo es crucial para lograr un buen desempeño en las competencias venideras.</p>
            <img class="row-span-2" src="/men-playing-rugby-field.webp"/>
        </div>
    </section>
</div>