---
import logo from '../img/albt.webp';
---

<nav class="bg-[#029ed1] fixed w-full z-20 top-0 left-0 border-b-[15px] border-[#e0041d]">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2">
    <a href="/" class="flex items-center">
        <img src={logo.src} class="h-16 mr-3" alt="Albatros Logo">
    </a>
    <div class="flex md:order-2">
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-[#e0041d] focus:outline-none focus:ring-2 focus:ring-[#e0041d]" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    </div>
  </nav>