---

---

<div class="w-full h-screen bg-[#029ed1]">
    <section class="max-w-[1200px] mx-auto px-8 flex flex-col justify-center h-full text-black">
        <div class="md:grid md:grid-rows-2 grid-flow-col gap-2">
            <div class="bg-lime-500 w-80 h-60"/>
            <p>Titulo 1</p>
            <div class="bg-pink-600 w-80 h-60"/>
            <p>Titulo 2</p>
            <div class="bg-amber-700 w-80 h-60"/>
            <p>Titulo 3</p>
        </div>
    </section>
</div>